# Seguridad JWT
# NOTA: Se incluye una clave pre-generada para facilitar la corrección del TP.
# En un entorno de producción real, esta clave NUNCA debe estar en el repositorio.
SECRET_KEY=clave_secreta_para_correccion_profesor_123456789
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Configuración de Base de Datos (SQLite)
# No se requiere edición
SQLALCHEMY_DATABASE_URL=sqlite:///./sql_app.db